body {
  margin: 0;
  color: #000000;
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  background: lightgray;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

.menuItem-name {
  font-size: 2.8em;
  line-height: 1.7em;
  text-align: left;
}

#menuItem-selector {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: right;
}

.selector {
  font-family: "Inter", sans-serif;
  font-size: 3.2em;
  font-weight: 200;
  border: 1.5px solid #dedede;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 3px;
  cursor: pointer;
}

.menuItem-descr {
  font-size: 1.6em;
  line-height: 2.4em;
  text-align: left;
  color: #8b8b8b;
}

.menuItem-price {
  font-size: 2em;
  line-height: 2.4rem;
  text-align: left;
}

.order-headline {
  font-size: 2.8em;
  line-height: 1.7em;
}

.order-item {
  font-size: 2.8em;
}

.order-remove {
  font-family: Verdana;
  font-size: 1.2em;
  color: #bbbbbb;
  background: none;
  border: none;
  margin: 15px;
  cursor: pointer;
}

.order-totalPrice {
  font-size: 2.8em;
  line-height: 2.4em;
  text-align: left;
  color: #0e0e0e;
}

.order-price {
  font-size: 2em;
  line-height: 2.4em;
  flex-grow: 1;
  text-align: right;
  margin: auto;
}

.modal-payHeadline {
  font-family: Verdana;
  font-size: 2.4em;
  font-weight: 700;
  line-height: 3.2em;
  color: #000000;
}

.order-thankyou {
  font-size: 3.2em;
  line-height: 1.7em;
  text-align: left;
  color: #065f46;
}

/* construction */

#main-container {
  width: 600px;
  margin: 0px auto;
  background: white;
}

.menu-wo-divider {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 6.7em 4.7em;
  padding: 0;
  gap: 1.5em;
}

.menuItem-details {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  height: 89px;
  width: 70px;
  margin: 0;
}

.menuItem {
  padding: 10px;
  text-align: left;
  margin: -14px;
}

hr {
  border: 1px solid #d2d2d2;
  width: 504px;
  margin-bottom: 30px;
}

/* Order placement */

#order-container {
  /* display:none; */
}

.order-line-item {
  display: flex;
  align-items: center;
  /* justify-content: left; */
  margin: 6.2em 5em 1.7em 5em;
  padding: 0;
  gap: 1.5em;
}

.order-divider {
  border: 2px solid #393333;
  margin-top: 0;
}

#order-total-price {
  display: flex;
  align-items: center;
  /* justify-content: left; */
  margin: 1.4em 5em 5.3em 5em;
  padding: 0;
  gap: 1.5em;
}

.complete-order {
  width: 508px;
  background: #16db99;
  border: none;
  border-radius: 3px;
  padding: 18px 175px;
  color: white;
  font-family: Verdana;
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 53px;
  cursor: pointer;
}
/* payment modal */

#card-details-modal {
  position: absolute;
  display: none;
  right: 0;
  left: 0;
  top: 550px;
  bottom: 0;
  margin: auto;
  width: 524px;
  height: 543px;
  background-color: white;
  /* border: 1px solid #757575;  */
  box-shadow: 5px 5px 5px 5px #888888;
}

.payment-form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;
}

.input-field {
  width: 476px;
  height: 72px;
  margin-bottom: 24px;
  border: 1.3px solid #757575;
}

::placeholder {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  color: #757575;
  padding-left: 23px;
}

.pay-order {
  width: 476px;
  background: #16db99;
  border: none;
  border-radius: 3px;
  padding: 18px 175px;
  color: white;
  font-family: Verdana;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 53px;
  margin-top: 30px;
  cursor: pointer;
}

/* thankyou section */

#thankyou {
  width: 504px;
  height: 120px;
  border-radius: 3px 0px 0px 0px;
  background-color: #ecfdf5;
  margin: auto;
  display: flex;
  display: none;
  margin-bottom: 50px;
}

.thankyou-statement {
  font-size: 3.2em;
  font-weight: 400;
  /* margin: auto; */
  align-self: center;
}

.hidden {
  display: none;
}
